* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    height: 100px;
    background-color: #b2d6ff; /* Medium blue */
}

.sidebar {
    width: 200px; /* Add this */
    height: 300px;
    background-color: #f09a9d;
    float: left;
}

.content {
    height: 500px;
    background-color: #f5cf8e; /* Yellow */
    width: 650px;
    float: left;
}

.footer {
    height: 200px;
    background-color: #d6e9fe; /* Light blue */
}
.page {
    width: 900px;
    margin: 0 auto;
}
